<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ioschools.DB.Properties.Settings.ioschoolsConnectionString"
            connectionString="Data Source=DESKTOP-5JQ9234;Database=t3stdata;User ID=sa;Password=Admin@123;" />
        <add name="ioschools.DB.Properties.Settings.tConnectionString"
            connectionString="Data Source=DESKTOP-5JQ9234;Initial Catalog=t3stdata;Persist Security Info=True;User ID=sa;Password=Admin@123;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>